body {
    font-family: Doto;
    background-color: #293241;
    color: white;
}

.title text, .axis-text {
    fill: white;
}

.tick text {
    font-family: Doto;
}

.legend {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.legend-var {
    margin-bottom: 0;
}

.square {
    height: 1em;
    width: 1em;
    margin-left: 20px;
    margin-right: 10px;
}
.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    padding: 8px;
    font-family: Doto;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: black;
}

.tooltip strong {
    font-size: 14px;
}

.form-select {
    display: inline-block;
    font-weight: 700;
}

#scroll {
    position: relative;
}

.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
    position: fixed;
}

.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}